section header, article, nav{
	display: block;
}
*{
	padding: 0;
	margin: 0;
}
body{
	margin: 1em 10%;

	max-width: 80em;
}
header{
	background-image: url(../images/guitarist.gif);
	background-repeat: no-repeat;
	/*居右下角对其*/
	background-position: top right;
	border-width: 0em;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
}
header nav{
	background-image: url(../images/navbar.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	border-width: 0em;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
}
header nav ul{
	width: 100%;
	overflow: hidden;
	border-left-width: 0em;
	border-left-style: solid;
}
header nav li{
	display: inline;
}
header nav li a{
	display: block;
	float: left;
	padding: .5em 2em;
	border-right: .1em solid;
}
article{
	border-width: .1em;
	border-style: solid;
	border-top-width: 0;
	padding: 2em 10%;
	line-height: 1.8em;
}
article img{
	border-width: .1em;
	border-style: solid;
	outline-width: .1em;
	outline-style: solid;
}
#home header{
	background-image: url(../images/lineup.gif);
}
#profile header{
	background-image: url(../images/basshead.gif);
}
#experience header{
	background-image: url(../images/bassist.gif);
}
#contact header{
	background-image: url(../images/drummer.gif);
}
#other header{
	background-image: url(../images/guitarist.gif)
}
#slideshow{
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
}
#preview{
	position: absolute;
	border-width: 0;
	outline-width: 0;
}
#frame{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	border-width: 0;
    outline-width: 0;
}
#imagegallery li{
	display: inline;
}
label{
	display: block;
}
fieldset{
	border: 0;
}